

@font-face {
  font-family: 'YesevaOne-Regular';
  src: local('YesevaOne-Regular'), url(./fonts/YesevaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotu-Regular';
  src: local('Gotu-Regular'), url(./fonts/Gotu-Regular.ttf) format('truetype');
}


/* General Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(255, 251, 235);
  --text-color: rgba(33, 18, 4);
  --primary-color: rgb(54, 83, 20);
  --accent-color: rgb(254, 243, 199);
  --secondary-bg-color: rgb(54, 83, 20);
  --light-accent-color: rgb(136, 19, 55);
  --font-base-size: 20px;
  --font-heading-size: 2rem;
}

/* App Wrapper */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

h2 {
  font-family: 'YesevaOne-Regular';
  color: var(--primary-color);
  font-size: var(--font-heading-size);
}

h1 {
  font-family: 'YesevaOne-Regular';
  color: var(--primary-color);
  font-size: var(--font-heading-size);
  padding: 10px;
}

h3 {
  font-family: 'YesevaOne-Regular';
  color: var(--primary-color);
  font-size: var(--font-base-size);
  padding: 5px;
  border-bottom: 0.5rem double var(--accent-color);
}

main {
  scroll-snap-type: y mandatory;
  font-family: 'Gotu-Regular';
  overflow-y: scroll;
  height: 100vh; /* Make main container viewport-height */
}

body {
  font-size: var(--font-base-size);
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/* Layout for Sections */
section {
  padding: 20px;
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; /* Enhanced scroll snap */
}

/* Start Section - Flex Layout */
.start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin-top: 15px;
}

.personal {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.embroidery {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

#embroidery-title {
  color: var(--light-accent-color);
}

#embroidery-photo {
  order: 1;
  max-width: 50%;
  padding: 20px;
  margin-top: 5px;
}

.embroidery-info{
  order: 2;
  max-width: 50%;
  text-align: left;
}

.embroidery-info p {
  border-bottom: 0.5rem double var(--accent-color);
  padding-bottom: 1rem; 
  margin-bottom: 1rem; 
}

.embroidery-info p:first-child {
  border-top: 0.5rem double var(--accent-color); /* Remove the border from the last paragraph */
}

.embroidery-info p:last-child {
  border-bottom: none; /* Remove the border from the last paragraph */
}

.hello {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 0;
  transition: all 0.5s ease;
}

.shrink {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.hide {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.info{
  order: 1;
  max-width: 60%;
  text-align: left;
}

.info p {
  border-bottom: 0.5rem double var(--accent-color);
  padding-bottom: 1rem; 
  margin-bottom: 1rem; 
}

.info p:first-child {
  border-top: 0.5rem double var(--accent-color); /* Remove the border from the last paragraph */
}

.info p:last-child {
  border-bottom: none; /* Remove the border from the last paragraph */
}

#photo {
  order: 2;
  max-width: 40%;
  padding: 20px;
  margin-top: 5px;
}

.portrait {
  display: block;
  width: 100%;
  height: auto;
  border: 0.5rem double var(--primary-color);
}

/* Footer Styling */
footer {
  font-family: 'Gotu-Regular';
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.footer a {
  color: inherit;
  font-size: 1 rem;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer a:hover {
  border-bottom: 2px solid var(--primary-color);
}

/* Navbar Styling */
.nav {
  font-family: 'YesevaOne-Regular';
  text-decoration: none;
  color: var(--primary-color);
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
  margin-bottom: 20px;
}

.link a {
  text-decoration: none;
}

.title {
  margin-left: 2rem;
  font-size: 1.5rem;
  color: inherit;
}

/* Navbar Links Styling */
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Space links evenly */
  align-items: center; /* Center links vertically */
  list-style: none;
  gap: 2rem; /* Adjust gap between links as needed */
}

.nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}





.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.work-container {
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.tech-stack {
  flex: 1;
  width: 20%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*border: 0.5rem double var(--accent-color);*/
}

.projects {
  flex: 2;
  width: 80%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.tech-stack ul {
  font-family: 'Gotu-Regular';
  list-style-type: square;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tech-stack li {
  margin: 0.1rem 0;
  font-size: 20px;
  text-align: left;
}

.tech-stack ul ul {
  list-style: none;
  padding-left: 1rem ;
  margin: 0;
}

.tech-stack ul ul li{
  list-style: none;
  font-size: 18px;
  padding-left: 2rem;
  margin: 0;
}

.project-content {
  display: flex;
  gap: 2rem;
}

.project-images {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 40%; /* Take up 50% of the projects div */
}

.project-images img {
  width: 100%;
  max-width: 240px; /* Adjust the max-width as needed */
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-images img:nth-child(1) {
  align-self: flex-start;
}

.project-images img:nth-child(2) {
  align-self: flex-end;
}

.project-images img:nth-child(3) {
  align-self: flex-start;
}

.project-images img:nth-child(4) {
  align-self: flex-end;
}

.project-text {
  width: 45%; /* Take up 50% of the projects div */
  text-align: center;
  font-size: 18px;
}

.project-text p{
  padding: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  section {
    scroll-snap-align: unset;
  }

  .work-container {
    flex-direction: column;
  }

  .project-content {
    flex-direction: column;
  }

  .project-images {
    width: 100%;
    order: 5; /* Order after project texts */
  }

  .project-text {
    width: 100%;
    order: 4; /* Order before project images */
  }

  .tech-stack {
    width: 100%;
    order: 6; /* Order after project images */
  }

  .footer {
    order: 7; /* Order last */
  }

  .start {
    order: 1; /* Order first */
  }

  .personal {
    order: 2; /* Order second */
  }

  #photo {
    order: 3; /* Order third */
  }
}

